<footer>
    <div class="f-info">
        <div class="f-info-socials">
             <div class="upper-shift" ><a href="https://www.facebook.com/">
                <i class="fa-brands fa-facebook  "></i></a>
            </div>
             
             <div class="upper-shift"><a href="https://www.instagram.com/riteshy.21?igsh=MWV3dzg0NmEzd3Ftag==" class="rit">
                <i class="fa-brands fa-square-instagram" style="color: rgb(172, 33, 33);"></i>
            </a></div>
             <div class="upper-shift"> <a href="https://www.linkedin.com/in/ritesh-yadav-10504933b/">
                <i class="fa-brands fa-square-linkedin"></i></a>
             </div>

        </div>
        <div class="f-info-brand" >&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>