<% layout("/layouts/boilerplate") %>
 <h1 class="mt-3" style="text-align: center;"> <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p></h1>
<div class="row row-cols-lg-3 mt-3 row-cols-md-2 row-cols-sm-1 overflow mb-3 ms-2">
        <div class="card row-cols-sm-1 listing-card" style="width: 25rem;">
          <img src="https://media.architecturaldigest.com/photos/68bf0cdb3c8a552bab94a517/16:9/w_1280,c_limit/imgi_113_8c2a5393-6cd3-4a6f-80e1-4edca7febe81.jpeg0" 
          class="card-img-top"
           alt="listing_image">
          <div class="card-img-overlay"></div>
        </div>
        <div class="card row-cols-sm-1 listing-card" style="width: 25rem;">
          <img src="https://media.cntraveler.com/photos/5fc6818f3cfe1de2cab79372/master/pass/Amsterdam-GettyImages-840603854.jpg" 
          class="card-img-top"
           alt="listing_image">
          <div class="card-img-overlay"></div>
        </div>
        <div class="card row-cols-sm-1 listing-card" style="width: 25rem;">
          <img src="https://a0.muscache.com/im/pictures/INTERNAL/INTERNAL-Mumbai/original/8fbdc98d-2b32-4838-a2cd-d4654d76b746.jpeg" 
          class="card-img-top"
           alt="listing_image">
          <div class="card-img-overlay"></div>
        </div>
        <div class="card row-cols-sm-1 listing-card" style="width: 25rem;">
          <img src="https://travelfoot.com/wp-content/uploads/2020/09/airbnb-berlin.jpg" 
          class="card-img-top"
           alt="listing_image">
          <div class="card-img-overlay"></div>
        </div>
        <div class="card row-cols-sm-1 listing-card" style="width: 25rem;">
          <img src="https://media.cntraveler.com/photos/67e5a192a7802e837e02ebbe/1:1/w_640%2Cc_limit/undefined" 
          class="card-img-top"
           alt="listing_image">
          <div class="card-img-overlay"></div>
        </div>
        <div class="card row-cols-sm-1 listing-card" style="width: 25rem;">
          <img src="https://media.gettyimages.com/id/2230539967/photo/uae-dubai-cityscape-skyline-city-night-view.jpg?b=1&s=2048x2048&w=0&k=20&c=ReLAywIdUuj9FvRwe0N089LNKXFjjrptVhfoscqxyUg=" 
          class="card-img-top"
           alt="listing_image">
          <div class="card-img-overlay"></div>
        </div>
      
  </div>
